{% extends "::base.html.twig" %}

{% block title %}NoteBundle:NiveauMatiere:addNiveauMatiere{% endblock %}

{% block body %}
<h1>Welcome to the NiveauMatiere:addNiveauMatiere page</h1>
{% endblock %}
